<div class="page-header">
<h1><b>Sound Collection Tracks</b></h1>

</div>
 
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th><%= link_to "Format", :sort => "format" %></th>
      <th><%= link_to "Length", :sort => "length" %></th>
      <th><%= link_to "Size", :sort => "size" %></th>
      <th><%= link_to "Filesize", :sort => "filesize" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.format %></td>
        <td><%= post.length %></td>
        <td><%= post.size %></td>
        <td><%= post.filesize %></td>
        
        <td><button type="button" class="btn btn-success"><%= link_to 'Show', post %></button></td>
        
        <td><button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_post_path(post) %></button></td>
        
        <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure you want to delete this track?' } %></button></td>
        
        </td>
      </tr>
    <% end %>
 </tbody>

 </table>

<br>

<button type="button" class="btn btn-primary"><%= link_to 'New Post', new_post_path %></button>